.App {
  text-align: center;
  min-height: 100vh;
  display:inline-block;
  min-width: 100%;


  .App-header {
    background-color: white;
  
  }

  .App-body {
    display:flex;
    flex-direction: column;
    align-items: center;

  }
  /* .App-panel {
    display:flex;
    align-items: center;
    justify-content: center;
  } */

  .App-table {
    /* display:flex;
    justify-content: center;
    align-items: center; */
    margin: 5rem 2rem;
    /* min-width: 80vw; */
    width:100%;
  }

}








