.App {
  text-align: center;
  min-height: 100vh;


  .App-header {
    background-color: white;
  
  }
  .App-panel {
    display:flex;
    align-items: center;
    justify-content: center;
  }

}








